
.xliaise_admin_footer_inf2 {
    display: block;
    text-align: center;
    font: italic bold 11px/20px Georgia, serif;
}

ul.xliaise_editelement {
    margin: 10px 0 0 0;
}

ul.xliaise_editelement li {
    padding: 5px;
    list-style: square inside url("../images/admin/xliaise_li_marker.png");
}

.xliaise_break {
    background-color: #c2cdd6;
    font-weight: bold;
    padding: 5px;
    text-align: center;
}
